# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python-related files
__pycache__/
*.py[cod]
*.so

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment-related files
.env
.venv
env/
venv/
ENV/

# Other
Autogluon/
